.idea/
*.pyc
.DS_Store
__pycache__/
*.py[cod]
*$py.class
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.spec
*.log
docs/
.env
.venv
env/
venv/
ENV/
# vim
*.swp
*.swm
*.swn
*.swo
# pytorch models
*.pth
*.pth.tar
result/
.vscode/*
*.out
tests/
notebooks/
has/
dataset/
ffmpeg/
has/
tmp/
300.wav
*.bin
*.7z